include *.txt
include *.md
include *.pkl
recursive-include ./predict_model/*

include predict_model/datasets/train.csv
include predict_model/datasets/test.csv
include predict_model/trained_models/*.pkl
include predict_model/VERSION
include predict_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]